<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966306838404-l3n50qskuon9vfnuvvptd9ssr9jc9bg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966306838404-l3n50qskuon9vfnuvvptd9ssr9jc9bg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRwcjVDHHUjCkcvBvLXFBqJWA5yA087xY</string>
	<key>GCM_SENDER_ID</key>
	<string>966306838404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lif3.lif3wallet</string>
	<key>PROJECT_ID</key>
	<string>lif3-mobile-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>lif3-mobile-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966306838404:ios:f4c37c041b48dbd0704fd1</string>
</dict>
</plist>
